.header {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #063051;
}

.logo-view {
  cursor: pointer;
  height: 60px;
  width: 300px;
}

.logo {
  height: 36px;
  margin: 10px;
}

.label-text {
  color: white;
  padding-top: 22px;
  font-size: large;
  vertical-align: bottom;
  text-align: center;
  flex: 3;
}

.login-status {
  height: 60px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 32px;
  padding-right: 10px;
}

.user-text {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
  margin-right: 15px;
}
.selectField{
  display: flex;
  align-items: center;
  margin-bottom: 0px !important;
}
.selectField select{
  width: 200px !important;
  margin: 0px 10px;
}
.selectField label{
  color: #ffffff !important;
  margin-bottom: 0px !important;
  font-weight: bold;
}

.header-right-view{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
