.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #063051;
  z-index: 10;
}

.Footer-logo-view {
  height: 60px;
  width: 300px;
  left: 0px;
  position: absolute;
}

.Footer-logo {
  height: 25px;
  left: 25px;
  margin-top: 22px;
  float: left;
  position: absolute;
}

.Footer-label-text {
  color: white;
  position: absolute;
  top: 6px;
  padding-top: 22px;
  font-size: large;
  display: table-cell;
  vertical-align: bottom;
  right: 0px;
}

.Copyright {
  position: absolute;
  width: 133px;
  height: 27px;
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: -0.18px;
  text-align: center;
  color: #ffffff;
  right: 10px;
  bottom: 0px;
}
