.login-view {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.txt-style {
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  text-indent: 5px;
  width: 200px;
  outline-style: none;
}
