video{
    width : 100%;
}

.btn-style {
  padding: 12px;
  background-color: #3aaee0;
  color: white;
  border-style: none;
  margin-right: 1px;
  border-radius: 2px;
  outline-style: none;
}

button:focus {outline:0;}
